<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <title>Login</title>

</head>
    <body>
    <div class="inner-screen">
        <div class="form">
            <h2 class="log"> Login </h2>
            <form method="post" action="/login">
                <input type="text" placeholder="Enter your username" name="username" />
                <input type="password" placeholder="password" name="password" />
                <input type="submit" value="Log In" />
                
                 <!--<a href="http://127.0.0.1:8000/static/create_user.html"target="_blank"></a>-->
                
            </form>
        </div>
    </div>
    </body>
</html>