<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/login.js"></script>
    <script src="/static/js/libs/jquery.js" ></script>
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chatStyle.css">
    <script src="/static/js/libs/bootstrap.js" ></script>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <title>Login</title>

</head>
    <body>
    <div class="inner-screen">
        <div class="form">
            <h2 class="log"> Login </h2>
            <form method="post" action="/login">
                <input type="text" id="username" placeholder="Enter your username" name="username" />
                <input type="password" id= "password" placeholder="password" name="password" />
                <button style="align-self: center "  type="button" class="btn btn-primary" onclick="login()" value="Log In"> Login</button>
                
            </form>
            <button type="btn" class="btn btn-primary"
            onclick="window.location.href='http://127.0.0.1:8000/static/Create_user.html'">Create user</button>
        </div>
        
    </div>
    </body>
</html>