<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/book.css" />
    <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css"/>

    <script src="/static/js/libs/jquery.js"></script>
    <title>Book</title>
  </head>
  <body>
  <div class="topnav">
    <a><input type="submit" value="home"  class="btn btn-secondary" /></a>

    <form action="/editUser" method="POST">
      <a><input type="submit" value="editUser"  class="btn btn-secondary" /></a>

    </form>
  </div>
  <div class="container">
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/enviar" method="POST">
        <div class="form-group">
          <h3>Tipo</h3>
          <select name="tipo">
            <option value="">Seleccione el tipo</option>
            <option value="Humanidades">Humanidades</option>
            <option value="Tecnico">Tecnico y formacion</option>
            <option value="Literatura">Literatura</option>
            <option value="Infantil">Infantil</option>
            <option value="Juvenil">Juvenil</option>
            <option value="Comics y manga">Comics y manga</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Nombre del libro</h3>
          <input
            type="text"
            name="namebook"
            placeholder=" Ingrese el nombre del libro"
          />
        </div>
        <div class="form-group">
          <h3>Estado del libro</h3>
          <input type="radio" name="estado" value="1" /> 1
          <input type="radio" name="estado" value="2" /> 2
          <input type="radio" name="estado" value="3" /> 3
          <input type="radio" name="estado" value="4" /> 4
          <input type="radio" name="estado" value="5" /> 5
          <input type="radio" name="estado" value="6" /> 6
          <input type="radio" name="estado" value="7" /> 7
          <input type="radio" name="estado" value="8" /> 8
          <input type="radio" name="estado" value="9" /> 9
          <input type="radio" name="estado" value="10" checked /> 10
        </div>
        <div class="form-group">
          <h3>Correo electronico</h3>
          <input
            type="text"
            name="mail"
            placeholder=" Ingrese su correo"
          />
        </div>
        <div class="form-group">
          <h3>Descripcion acerca del libro</h3>
          <textarea
            name="descripcion"
            id=""
            cols="30"
            rows="5"
            placeholder="Ingrese una breve descripcion, caracteristicas, etc."
          ></textarea>
        </div>
        <input type="submit" value="enviar"  class="btn btn-primary" />
      </form>
    </div>
    
  </body>
</html>